{% load static %}
<html>
<head>
    <title>profile page</title>
    <link rel="stylesheet" href="{%static "css/demo.css"%}">
    <style>
        table{
          border:1px solid grey;
          }
          th{
          color:blue;
          padding:5px;
          background:red;
          border:1px solid black;
          }
          td{
          border:1px solid black;
          }
    </style>
</head>
<body>
<h1>employee details</h1>
<table>
    <head>
        <th>NAME</th>
        <th>AGE</th>
        <th>NUMBER</th>
    </head>
    <tr>
        <td>naveen</td>
        <td>21</td>
        <td>8978</td>
    </tr>
    <tr>
        <td>kumar</td>
        <td>22</td>
        <td>456</td>
    </tr>
    <tr>
        <td>sravan</td>
        <td>25</td>
        <td>7869</td>
    </tr>
    <tr>
        <td>akash</td>
        <td>30</td>
        <td>2345</td>
    </tr>
</table>
</body>
</html>